<h2 align="center">전송이 완료되었습니다.<br><br></h2>
<div align="center">
<h5>Email주소 : <%=@address%></h5>
<h5>글 제목 : <%=@title%></h5>
<h5>글 내용 : <%=@content%></h5>
</div>
<p align="center"><a href="/">메인으로 가기</a></p>