<style>
  body {
    background-color: #E0F8F7;
  }

</style>
  <h2 align="center">전송이 완료되었습니다.<br><br></h2>
  <div align="center">
    <h5><strong>Email주소</strong> : <%=@address%></h5>
    <h5><strong>글 제목</strong> : <%=@title%></h5>
    <h5><strong>글 내용</strong> : <%=@content%></h5>
  </div>
  <p align="center"><a href="/">메인으로 가기</a></p>